/*Denna första del är till för mobilsidan. Jag byggde den först och sedan modifierade css med media query för större skärmar*/

.logotype{
    width: 20%;
    margin-right: 10px;
}

a{
    color: black;
    text-decoration: none;
}

.hero{
    background-color: white;
    text-align: center;
}

.hero img{
    max-width: 100%;
}

.intro{
    text-align: center;
}

.card{
    background-color:#C26604;
    margin: 10px;
    box-shadow: 5px 10px 20px;
}

.cardimg{
    max-width: 100%;
}

.cardtext{
    padding-left: 10px;
    padding-bottom: 10px;
}

.headernav{
background-color: white;
font-family: Georgia, 'Times New Roman', Times, serif
}

.button{
    background-color: #C26604;
    font-size: 15px;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.button:hover{
    background-color: orange;
}

ul{
    list-style-type: none;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.headerp1{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.headernav ul li{
    padding: 5px;
    border: 1px solid;
}

.ending{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
    text-align: center;
}

.footerp1{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
}

.footerp2{
    display: flex;
    justify-content: space-around;
}

h1,h2,h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

h1{
    font-size: medium;
}

p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body{
    background-color: #DAA975;
}

header{
    background-color: #346F2D;
}

footer{
    background-color: #346F2D;
}

/*Delen nedanför är till för större skärmar. Mestadels modifieringar av existerande klasser för att kunna se bättre ut på större skärmar. */

@media (min-width: 768px)
{

    .logotype{
        width: 5%;
    }

    header{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .headernav{
        background-color: transparent;
    }

    .headernav ul{
        display: flex;
    }

    .headernav ul li{
        border: none;
    }

    .headerp1{
        display: flex;
    }

    .hero{
        background-color: transparent;
        position: relative;
    }

    .herotext{
        color: white;
        position: absolute;
        left: 5%;
        bottom: 30%;
        display: flex;
        flex-direction: column;
        max-width: 20%;
    }

    .heroimg{
        position: relative;
        width: 100%;
    }

    .intro{ 
        display: flex;
        justify-content: center;
    }

    .introtext{
        max-width: 40%;
    }

    .cardsection{
        display: flex;
        justify-content: space-evenly
    }

    .card{
        max-width: 20%;
    }

    .ending{
        flex-direction: row;
        justify-content: space-around;
        padding-top: 50px;
        padding-bottom: 50px;
        text-align: left;
    }

    .endingtext{
        max-width: 30%;
    }

    footer{
        display: flex;
        justify-content: space-evenly;
    }

    .footerp1{
        flex-direction: row;
        gap: 5%;
    }

    .footerp2{
        flex-direction: row;
        
    
    }

}

