
.logotype{
    width: 25%;
}

.heroimg{
    width:100%;
}

.hero{
    background-color: white;
    text-align: center;
}

.intro{
    text-align: center;
}

.card{
    background-color: white;
    margin: 10px;
}

.cardimg{
    width: 100%;
}

.cardtext{
    padding-left: 10px;
    padding-bottom: 10px;
}

.headernav{
background-color: white;
font-family: Georgia, 'Times New Roman', Times, serif
}

.button{
    background-color: #C26604;
    font-size: 15px;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul{
    list-style-type: none;
    padding: 0;
}

.headerp1{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.headernav ul li{
    padding: 5px;
    border: 1px solid;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.footerp1{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footerp2{
    display: flex;
    justify-content: space-around;
}

h1,h2,h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

h1{
    font-size: medium;
}

p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body{
    background-color: #DAA975;
}

header{
    background-color: #346F2D;
}

footer{
    background-color: #346F2D;
}

@media (min-width: 768px)
{


}

